[project]
	description = An integration repository between SIMP and the Elastic Logstash module. Obsoletes the old pupmod-simp-logstash module.
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group SIMP Admins
	owner = group user/simp-auto
[access "refs/for/refs/*"]
	read = group SIMP Developers
	read = group user/simp-auto
	push = group SIMP Developers
	push = group user/simp-auto
	pushMerge = group SIMP Developers
[access "refs/heads/*"]
	read = group user/Chris Tessmer (op-ct)
	create = group user/Chris Tessmer (op-ct)
	push = +force group user/Chris Tessmer (op-ct)
	pushMerge = group user/Chris Tessmer (op-ct)
[access "refs/tags/*"]
	push = +force group user/Chris Tessmer (op-ct)
	pushTag = group user/Chris Tessmer (op-ct)
	pushSignedTag = group user/Chris Tessmer (op-ct)
